<%- include ("header.ejs")-%>
<h1>About Page</h1>
<p>
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur quod in
  accusantium suscipit unde maxime facere nam eveniet sequi iste libero facilis
  quas architecto soluta aliquam tenetur quam, nesciunt voluptatem, optio
  voluptatum dolore. Omnis odit modi facilis obcaecati harum maxime enim iusto
  vel possimus ipsa quam dolor, eos magni iure dignissimos vero, necessitatibus
  praesentium eaque? Excepturi, aliquid consectetur?
</p>
<%- include ("footer.ejs")-%>
